---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/x1dh11z?fields=id,title,description,duration,created_time,url,thumbnail_720_url,thumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Backnode:
      - web-085.adm.dailymotion.com:80
      Content-Type:
      - application/json
      X-Dm-Lb:
      - 195.8.215.130
      Etag:
      - W/"_CTgJkA4oKiZ9WcfNhisFA"
      X-Response-Time:
      - 0.057074 seconds
      Last-Modified:
      - Tue, 06 May 2014 10:34:29 GMT
      X-Dm-Page:
      - gb.rest.rest_api
    body:
      encoding: UTF-8
      string: '{"id":"x1dh11z","title":"Vintage Otis Hydraulic Elevator at Saks Fifth
        Avenue, Frontenac Plaza, Frontenac, MO","description":"[Featuring Dieselducy]  Andrew
        and I took a ride an an older Otis Lexan in FANTASTIC condition.","duration":172,"created_time":1393412468,"url":"http:\/\/www.dailymotion.com\/video\/x1dh11z_vintage-otis-hydraulic-elevator-at-saks-fifth-avenue-frontenac-plaza-frontenac-mo_fun","thumbnail_720_url":"http:\/\/s1.dmcdn.net\/Evju5\/x720-5Nl.jpg","thumbnail_240_url":"http:\/\/s1.dmcdn.net\/Evju5\/x240-Dgb.jpg","thumbnail_60_url":"http:\/\/s1.dmcdn.net\/Evju5\/x60-mG0.jpg"}'
  recorded_at: Tue, 06 May 2014 12:48:19 GMT
- request:
    method: get
    uri: https://api.dailymotion.com/video/x1dh11z?fields=id,title,description,duration,created_time,url,thumbnail_720_url,thumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Backnode:
      - web-082.adm.dailymotion.com:80
      Content-Type:
      - application/json
      X-Dm-Lb:
      - 195.8.215.129
      Etag:
      - W/"_CTgJkA4oKiZ9WcfNhisFA"
      X-Response-Time:
      - 0.062092 seconds
      Last-Modified:
      - Tue, 06 May 2014 10:34:29 GMT
      X-Dm-Page:
      - gb.rest.rest_api
    body:
      encoding: UTF-8
      string: '{"id":"x1dh11z","title":"Vintage Otis Hydraulic Elevator at Saks Fifth
        Avenue, Frontenac Plaza, Frontenac, MO","description":"[Featuring Dieselducy]  Andrew
        and I took a ride an an older Otis Lexan in FANTASTIC condition.","duration":172,"created_time":1393412468,"url":"http:\/\/www.dailymotion.com\/video\/x1dh11z_vintage-otis-hydraulic-elevator-at-saks-fifth-avenue-frontenac-plaza-frontenac-mo_fun","thumbnail_720_url":"http:\/\/s1.dmcdn.net\/Evju5\/x720-5Nl.jpg","thumbnail_240_url":"http:\/\/s1.dmcdn.net\/Evju5\/x240-Dgb.jpg","thumbnail_60_url":"http:\/\/s1.dmcdn.net\/Evju5\/x60-mG0.jpg"}'
  recorded_at: Tue, 06 May 2014 12:48:19 GMT
recorded_with: VCR 2.8.0
