---
http_interactions:
- request:
    method: get
    uri: https://api.dailymotion.com/video/x1dh11z?fields=id,title,description,duration,created_time,url,thumbnail_720_url,thumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Backnode:
      - web-078.adm.dailymotion.com:80
      Content-Type:
      - application/json
      X-Dm-Lb:
      - 195.8.215.129
      Etag:
      - W/"PYBP7eO8h90SLB85ZvNGZA"
      X-Response-Time:
      - 0.058861 seconds
      Last-Modified:
      - Mon, 16 Jun 2014 14:14:50 GMT
      X-Dm-Page:
      - gb.rest.rest_api
    body:
      encoding: US-ASCII
      string: ! '{"id":"x1dh11z","title":"Vintage Otis Hydraulic Elevator at Saks
        Fifth Avenue, Frontenac Plaza, Frontenac, MO","description":"[Featuring Dieselducy]  Andrew
        and I took a ride an an older Otis Lexan in FANTASTIC condition.","duration":172,"created_time":1393412468,"url":"http:\/\/www.dailymotion.com\/video\/x1dh11z_vintage-otis-hydraulic-elevator-at-saks-fifth-avenue-frontenac-plaza-frontenac-mo_fun","thumbnail_720_url":"http:\/\/s2.dmcdn.net\/FoQqL\/x720-uY2.jpg","thumbnail_240_url":"http:\/\/s2.dmcdn.net\/FoQqL\/x240-iU8.jpg","thumbnail_60_url":"http:\/\/s2.dmcdn.net\/FoQqL\/x60-s4Y.jpg"}'
  recorded_at: Mon, 16 Jun 2014 14:59:55 GMT
- request:
    method: get
    uri: https://api.dailymotion.com/video/x1dh11z?fields=id,title,description,duration,created_time,url,thumbnail_720_url,thumbnail_240_url,thumbnail_60_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Dm-Backnode:
      - web-054.adm.dailymotion.com:80
      Content-Type:
      - application/json
      X-Dm-Lb:
      - 195.8.215.129
      Etag:
      - W/"PYBP7eO8h90SLB85ZvNGZA"
      X-Response-Time:
      - 0.037581 seconds
      Last-Modified:
      - Mon, 16 Jun 2014 14:14:50 GMT
      X-Dm-Page:
      - gb.rest.rest_api
    body:
      encoding: US-ASCII
      string: ! '{"id":"x1dh11z","title":"Vintage Otis Hydraulic Elevator at Saks
        Fifth Avenue, Frontenac Plaza, Frontenac, MO","description":"[Featuring Dieselducy]  Andrew
        and I took a ride an an older Otis Lexan in FANTASTIC condition.","duration":172,"created_time":1393412468,"url":"http:\/\/www.dailymotion.com\/video\/x1dh11z_vintage-otis-hydraulic-elevator-at-saks-fifth-avenue-frontenac-plaza-frontenac-mo_fun","thumbnail_720_url":"http:\/\/s2.dmcdn.net\/FoQqL\/x720-uY2.jpg","thumbnail_240_url":"http:\/\/s2.dmcdn.net\/FoQqL\/x240-iU8.jpg","thumbnail_60_url":"http:\/\/s2.dmcdn.net\/FoQqL\/x60-s4Y.jpg"}'
  recorded_at: Mon, 16 Jun 2014 14:59:56 GMT
recorded_with: VCR 2.9.1
