---
http_interactions:
- request:
    method: get
    uri: http://vimeo.com/api/v2/album/1488772/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"2ea8a25eae2fc23b4eccd937d2043fef"'
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3594'
      X-Ratelimit-Reset:
      - '1398424792'
      Last-Modified:
      - Wed, 15 Dec 2010 18:51:40 GMT
      Content-Type:
      - application/json
      X-Varnish-Cache:
      - '0'
      Cneonction:
      - close
      X-Vserver:
      - dfvimeowebproxy2
    body:
      encoding: UTF-8
      string: '{"id":1488772,"created_on":"2010-12-08 06:37:55","last_modified":"2010-12-15
        13:51:40","title":"STEPHEN HAWKING''S UNIVERSE","description":"Descubre el
        universo de la mano de Stephen Hawking. Con 6 episodios, nos explica los secretos
        del Universo, la formaci\u00f3n de los planetas,\u2026","url":"http:\/\/vimeo.com\/album\/1488772","thumbnail_small":"http:\/\/i.vimeocdn.com\/video\/134668334_100x75.jpg","thumbnail_medium":"http:\/\/i.vimeocdn.com\/video\/134668334_200x150.jpg","thumbnail_large":"http:\/\/i.vimeocdn.com\/video\/134668334_640.jpg","total_videos":6,"user_id":3298490,"user_display_name":"Hipatia","user_url":"http:\/\/vimeo.com\/user3298490"}'
  recorded_at: Fri, 25 Apr 2014 10:36:19 GMT
- request:
    method: get
    uri: http://vimeo.com/api/v2/album/1488772/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"2ea8a25eae2fc23b4eccd937d2043fef"'
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3593'
      X-Ratelimit-Reset:
      - '1398424792'
      Last-Modified:
      - Wed, 15 Dec 2010 18:51:40 GMT
      Content-Type:
      - application/json
      X-Varnish-Cache:
      - '0'
      Nncoection:
      - close
      X-Vserver:
      - dfvimeowebproxy1
    body:
      encoding: UTF-8
      string: '{"id":1488772,"created_on":"2010-12-08 06:37:55","last_modified":"2010-12-15
        13:51:40","title":"STEPHEN HAWKING''S UNIVERSE","description":"Descubre el
        universo de la mano de Stephen Hawking. Con 6 episodios, nos explica los secretos
        del Universo, la formaci\u00f3n de los planetas,\u2026","url":"http:\/\/vimeo.com\/album\/1488772","thumbnail_small":"http:\/\/i.vimeocdn.com\/video\/134668334_100x75.jpg","thumbnail_medium":"http:\/\/i.vimeocdn.com\/video\/134668334_200x150.jpg","thumbnail_large":"http:\/\/i.vimeocdn.com\/video\/134668334_640.jpg","total_videos":6,"user_id":3298490,"user_display_name":"Hipatia","user_url":"http:\/\/vimeo.com\/user3298490"}'
  recorded_at: Fri, 25 Apr 2014 10:36:20 GMT
- request:
    method: get
    uri: http://vimeo.com/api/v2/album/1488772/videos.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4325ced6754429ffc079dce936e1c71a"'
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3592'
      X-Ratelimit-Reset:
      - '1398424792'
      Last-Modified:
      - Fri, 25 Apr 2014 10:15:25 GMT
      Content-Type:
      - application/json
      X-Varnish-Cache:
      - '0'
      Cneonction:
      - close
      X-Vserver:
      - dfvimeowebproxy5
    body:
      encoding: UTF-8
      string: '[{"id":17385851,"title":"STEPHEN HAWKING''S UNIVERSE 01 Ver para creer","description":"Descubre
        el universo de la mano de Stephen Hawking. Con 6 episodios, nos explica los
        secretos del Universo, la formaci\u00f3n de los planetas, los agujeros negros,
        las estrellas, el origen de nuestro planeta etc.","url":"http:\/\/vimeo.com\/17385851","upload_date":"2010-12-01
        19:31:25","thumbnail_small":"http:\/\/i.vimeocdn.com\/video\/109577668_100x75.jpg","thumbnail_medium":"http:\/\/i.vimeocdn.com\/video\/109577668_200x150.jpg","thumbnail_large":"http:\/\/i.vimeocdn.com\/video\/109577668_640.jpg","user_id":3298490,"user_name":"Hipatia","user_url":"http:\/\/vimeo.com\/user3298490","user_portrait_small":"http:\/\/i.vimeocdn.com\/portrait\/406555_30x30.jpg","user_portrait_medium":"http:\/\/i.vimeocdn.com\/portrait\/406555_75x75.jpg","user_portrait_large":"http:\/\/i.vimeocdn.com\/portrait\/406555_100x100.jpg","user_portrait_huge":"http:\/\/i.vimeocdn.com\/portrait\/406555_300x300.jpg","stats_number_of_likes":7,"stats_number_of_plays":5536,"stats_number_of_comments":0,"duration":2965,"width":640,"height":480,"tags":"Stephen
        Hawking, universo, cosmos, planetas, astrofisica, astronomia, fisica, big
        bang, estrellas, agujeros negros","embed_privacy":"anywhere"},{"id":17384125,"title":"STEPHEN
        HAWKING''S UNIVERSE 02 Los origenes","description":"Descubre el universo de
        la mano de Stephen Hawking. Con 6 episodios, nos explica los secretos del
        Universo, la formaci\u00f3n de los planetas, los agujeros negros, las estrellas,
        el origen de nuestro planeta etc.","url":"http:\/\/vimeo.com\/17384125","upload_date":"2010-12-01
        18:30:27","thumbnail_small":"http:\/\/i.vimeocdn.com\/video\/107944119_100x75.jpg","thu[...]
