---
http_interactions:
- request:
    method: get
    uri: http://vimeo.com/api/v2/album/2356816/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"542a75f859b76e35507f334667e17fb2"'
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3595'
      X-Ratelimit-Reset:
      - '1402933916'
      Last-Modified:
      - Wed, 04 Jun 2014 21:22:51 GMT
      Content-Type:
      - application/json
      X-Varnish-Cache:
      - '0'
      Cneonction:
      - close
      X-Vserver:
      - dfvimeowebproxy3
    body:
      encoding: US-ASCII
      string: ! '{"id":2356816,"created_on":"2013-04-22 18:18:11","last_modified":"2014-06-04
        17:22:51","title":"Sexy Vimeo (1)","description":"http:\/\/vimeo.com\/groups\/sexyvimeo
        <br \/>\r\n<br \/>\r\nhttp:\/\/vimeo.com\/channels\/sexyvimeo <br \/>\r\n<br
        \/>\r\nhttp:\/\/vimeo.com\/groups\/rinvimeo <br \/>\r\n<br \/>\r\nhttp:\/\/vimeo.com\/channels\/rinvimeo<br
        \/>\r\n<br \/>\r\nhttp:\/\/vimeo.com\/album\/2357874 <br \/>\r\n<br \/>\r\nhttp:\/\/vimeo.com\/album\/2358077","url":"http:\/\/vimeo.com\/album\/2356816","thumbnail_small":"http:\/\/i.vimeocdn.com\/video\/477297828_100x75.jpg","thumbnail_medium":"http:\/\/i.vimeocdn.com\/video\/477297828_200x150.jpg","thumbnail_large":"http:\/\/i.vimeocdn.com\/video\/477297828_640.jpg","total_videos":702,"user_id":17880641,"user_display_name":"Best
        Sexy Vimeo","user_url":"http:\/\/vimeo.com\/sexyvimeo"}'
  recorded_at: Mon, 16 Jun 2014 14:59:05 GMT
- request:
    method: get
    uri: http://vimeo.com/api/v2/album/2356816/videos.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3579'
      X-Ratelimit-Reset:
      - '1402933916'
      Last-Modified:
      - Fri, 13 Jun 2014 20:47:01 GMT
      Etag:
      - ! '"50865457271e996fda3855c5af3154ee"'
      Content-Type:
      - application/json
      X-Varnish-Cache:
      - '1'
      Cneonction:
      - close
      X-Vserver:
      - dfvimeowebproxy4
    body:
      encoding: US-ASCII
      string: ! '[{"id":97056314,"title":"Katrina","description":"Sensual Katrina.
        Hot like the sun and wet like the rain. An erotic videoclip I made of this
        wonderful sexy woman. Thanks Katrina for showing us what you got.<br \/>\r\n<br
        \/>\r\nMusic: Motorcycle - As the Rush Comes (Gabriel & Dresden Chillout mix)","url":"http:\/\/vimeo.com\/97056314","upload_date":"2014-06-01
        14:14:28","mobile_url":"http:\/\/vimeo.com\/m\/97056314","thumbnail_small":"http:\/\/i.vimeocdn.com\/video\/477297828_100x75.jpg","thumbnail_medium":"http:\/\/i.vimeocdn.com\/video\/477297828_200x150.jpg","thumbnail_large":"http:\/\/i.vimeocdn.com\/video\/477297828_640.jpg","user_id":22767882,"user_name":"Steve
        Glamorous","user_url":"http:\/\/vimeo.com\/user22767882","user_portrait_small":"http:\/\/i.vimeocdn.com\/portrait\/6642435_30x30.jpg","user_portrait_medium":"http:\/\/i.vimeocdn.com\/portrait\/6642435_75x75.jpg","user_portrait_large":"http:\/\/i.vimeocdn.com\/portrait\/6642435_100x100.jpg","user_portrait_huge":"http:\/\/i.vimeocdn.com\/portrait\/6642435_300x300.jpg","stats_number_of_likes":147,"stats_number_of_plays":27062,"stats_number_of_comments":4,"duration":364,"width":342,"height":242,"tags":"nude,
        glamour, sexy, erotic, models, sensual, hot, sexual","embed_privacy":"anywhere"},{"id":96973868,"title":"Topless
        DJane Aurika-photo set in Cyprus\u0080","description":"photographer<br \/>\r\nEvgeny
        Konasov<br \/>\r\nmodel<br \/>\r\nDJane Aurika<br \/>\r\nmusic<br \/>\r\nDeeptrak
        feat. Emma Black - Satisfaction (Alias Rhythm Remix)","url":"http:\/\/vimeo.com\/96973868","upload_date":"2014-05-31
        03:04:05","mobile_url":"http:\/\/vimeo.com\/m\/96973868","thumbnail_small":"http:\/\/i.vimeocdn.com\/video\/477195450_100x75.jpg","thumbnail[...]
[...]
