---
http_interactions:
- request:
    method: get
    uri: http://vimeo.com/api/v2/album/2356816/videos.json?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b098711e877ca1581aded9a6ff3dab52"'
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3591'
      X-Ratelimit-Reset:
      - '1398436822'
      Last-Modified:
      - Fri, 25 Apr 2014 12:19:05 GMT
      Content-Type:
      - application/json
      X-Varnish-Cache:
      - '1'
      Nncoection:
      - close
      X-Vserver:
      - dfvimeowebproxy2
    body:
      encoding: UTF-8
      string: '[{"id":92911199,"title":"Sander van Doorn feat. FireBeatz vs Jacob
        Plant - Fire Guitar (Mirjami MashUP)","description":"This is Video Version
        of MashUP made by DJane Mirjami<br \/>\r\nHER FanPage!: www.fb.com\/DJaneMirjami
        <br \/>\r\nAudio Version are here: https:\/\/soundcloud.com\/kinky_angel\/sander-van-doorn-feat-firebeatz-vs-jacob-plant-fire-guitar-mirjami-mashup<br
        \/>\r\nBooking Info: m.ochman@bpmpromotion.com<br \/>\r\n<br \/>\r\nTracks
        Used in Mix:<br \/>\r\nSander Van Doorn & Firebeatz - Guitar Track<br \/>\r\nJacob
        Plant - Fire","url":"http:\/\/vimeo.com\/92911199","upload_date":"2014-04-25
        03:43:15","mobile_url":"http:\/\/vimeo.com\/m\/92911199","thumbnail_small":"http:\/\/i.vimeocdn.com\/video\/472798525_100x75.jpg","thumbnail_medium":"http:\/\/i.vimeocdn.com\/video\/472798525_200x150.jpg","thumbnail_large":"http:\/\/i.vimeocdn.com\/video\/472798525_640.jpg","user_id":9121791,"user_name":"Mirjami","user_url":"http:\/\/vimeo.com\/djanemirjami","user_portrait_small":"http:\/\/i.vimeocdn.com\/portrait\/6734576_30x30.jpg","user_portrait_medium":"http:\/\/i.vimeocdn.com\/portrait\/6734576_75x75.jpg","user_portrait_large":"http:\/\/i.vimeocdn.com\/portrait\/6734576_100x100.jpg","user_portrait_huge":"http:\/\/i.vimeocdn.com\/portrait\/6734576_300x300.jpg","stats_number_of_likes":65,"stats_number_of_plays":2451,"stats_number_of_comments":4,"duration":368,"width":1280,"height":720,"tags":"VJ,
        DVJ, DJ, DJane, Party, GIG, Mix, Mirjami, Sander Van Doorn, Jacob Plant, Firebeatz,
        mashup, naked, nude, girls, erotic, kinky girls, show, dancers, dance","embed_privacy":"anywhere"},{"id":92900710,"title":"Ella
        White Dress Preview","description":"Preview video of Ella''s \"White Dress\"
        photo shoot for Nude-Muse Magazine<br \/>\r\nthe full version is at www.nude-muse.com","url":"http:\/\/vimeo.com\/92900710","upload_date":"2014-04-24
        23:46:00","mobile_url":"http:\/\/vimeo.com\/m\/92900710","thumbnail_small":"http:\/\/i.vimeocdn.com\/video\/472786672_100x75.jpg","thumbnail_medium":"http:\/\/i.vimeocdn.com\/video\/472786672_200x150.jpg","th[...]
- request:
    method: get
    uri: http://vimeo.com/api/v2/album/2356816/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7b6b5382a38ea774fc3f388b91a5e406"'
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3583'
      X-Ratelimit-Reset:
      - '1398436822'
      Last-Modified:
      - Fri, 25 Apr 2014 12:19:05 GMT
      Content-Type:
      - application/json
      X-Varnish-Cache:
      - '0'
      Nncoection:
      - close
      X-Vserver:
      - dfvimeowebproxy3
    body:
      encoding: UTF-8
      string: '{"id":2356816,"created_on":"2013-04-22 18:18:11","last_modified":"2014-04-25
        08:19:05","title":"Sexy Vimeo (1)","description":"http:\/\/vimeo.com\/groups\/sexyvimeo
        <br \/>\r\n<br \/>\r\nhttp:\/\/vimeo.com\/channels\/sexyvimeo <br \/>\r\n<br
        \/>\r\nhttp:\/\/vimeo.com\/groups\/rinvimeo <br \/>\r\n<br \/>\r\nhttp:\/\/vimeo.com\/channels\/rinvimeo<br
        \/>\r\n<br \/>\r\nhttp:\/\/vimeo.com\/album\/2357874 <br \/>\r\n<br \/>\r\nhttp:\/\/vimeo.com\/album\/2358077","url":"http:\/\/vimeo.com\/album\/2356816","thumbnail_small":"http:\/\/i.vimeocdn.com\/video\/472798525_100x75.jpg","thumbnail_medium":"http:\/\/i.vimeocdn.com\/video\/472798525_200x150.jpg","thumbnail_large":"http:\/\/i.vimeocdn.com\/video\/472798525_640.jpg","total_videos":670,"user_id":17880641,"user_display_name":"Best
        Sexy Vimeo","user_url":"http:\/\/vimeo.com\/sexyvimeo"}'
  recorded_at: Fri, 25 Apr 2014 13:59:34 GMT
- request:
    method: get
    uri: http://vimeo.com/api/v2/album/2356816/videos.json?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b098711e877ca1581aded9a6ff3dab52"'
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3598'
      X-Ratelimit-Reset:
      - '1398436822'
      Last-Modified:
      - Fri, 25 Apr 2014 12:19:05 GMT
      Content-Type:
      - application/json
      X-Varnish-Cache:
      - '0'
      Cneonction:
      - close
      X-Vserver:
      - dfvimeowebproxy3
    body:
      encoding: UTF-8
      string: '[{"id":87610633,"title":"EVA AL DESNUDO","description":"www.erickdevasconcelos.com<br
        \/>\r\nA hotel room. An impersonable place by definition. It could be anywhere
        in the world. Eva could be any woman, but she''s not. She knows what she wants
        and where she is going to. What about you ? Do you? <br \/>\r\n<br \/>\r\nDIRECTOR\/DP\/EDITOR<br
        \/>\r\nErick De Vascon[...]
[...]
